<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/events/#{@event}/edit"}>
      <.button>Veranstaltung bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Referenznummer">
      {format_string_field(@event.reference_number)}
    </:item>
    <:item title="Status">
      {get_key_for_value(Event.get_valid_statuses(), @event.status)}
    </:item>
    <:item title="Startdatum">
      {format_date_field_dmy(@event.start_date)}
    </:item>
    <:item title="Enddatum">
      {format_date_field_dmy(@event.end_date)}
    </:item>
    <:item title="Beschreibung">
      {format_string_field(@event.description)}
    </:item>
    <:item title="Minimale Anzahl an Teilnehmern">
      {format_integer_field(@event.minimum_participants)}
    </:item>
    <:item title="Maximale Anzahl an Teilnehmern">
      {format_integer_field(@event.maximum_participants)}
    </:item>
    <:item title="Mindestalter">
      {format_integer_field(@event.minimum_age_in_years)}
    </:item>
    <:item title="Höchstalter">
      {format_integer_field(@event.maximum_age_in_years)}
    </:item>
    <:item title="Veranstaltungsort">
      <%= if @event.venue_type == "no_info" do %>
        -
      <% end %>

      <%= if @event.venue_type == "location" do %>
        {format_struct_list(@event.locations, :name)}
      <% end %>

      <%= if @event.venue_type == "postal_address" do %>
        <SportywebWeb.PolymorphicLive.PostalAddressesShowComponent.render postal_addresses={
          @event.postal_addresses
        } />
      <% end %>

      <%= if @event.venue_type == "free_form" do %>
        {format_string_field(@event.venue_description)}
      <% end %>
    </:item>
    <:item title="E-Mail">
      {format_struct_list(@event.emails, :address)}
    </:item>
    <:item title="Telefon">
      {format_struct_list(@event.phones, :number)}
    </:item>
    <:item title="Notizen">
      <SportywebWeb.PolymorphicLive.NotesShowComponent.render notes={@event.notes} />
    </:item>
  </.list>
</.card>

<.header level="2" class="mt-12">
  Gebühren
  <:actions>
    <.link navigate={~p"/events/#{@event}/fees/new"}>
      <.button>Veranstaltungsspezifische Gebühr erstellen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@event.fees) do %>
    <SportywebWeb.FeeLive.IndexTableComponent.render fees={@event.fees} />
  <% else %>
    <p>Bisher wurde noch keine veranstaltungsspezifische Gebühr erstellt.</p>
  <% end %>
</.card>

<.header level="2" class="mt-12">
  Standorte
  <:actions>
    <.link navigate={~p"/events/#{@event}/locations/new"}>
      <.button>Standort hinzufügen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@event.locations) do %>
    <SportywebWeb.LocationLive.EventIndexTableComponent.render locations={@event.locations} event_id={@event.id} />
  <% else %>
    <p>Bisher wurden noch keine Standorte hinzugefügt.</p>
  <% end %>
</.card>

<.header level="2" class="mt-12">
  Equipment
  <:actions>
    <.link navigate={~p"/events/#{@event}/equipments/new"}>
      <.button>Equipment hinzufügen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@event.equipment) do %>
    <SportywebWeb.EquipmentLive.EventIndexTableComponent.render equipment={@event.equipment} event_id={@event.id} />
  <% else %>
    <p>Bisher wurde noch kein Equipment hinzugefügt.</p>
  <% end %>
</.card>

<.header level="2" class="mt-12">
  Abteilung
  <:actions>
    <.link navigate={~p"/events/#{@event}/departments/new"}>
      <.button>Abteilung hinzufügen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@event.departments) do %>
    <SportywebWeb.DepartmentLive.EventIndexTableComponent.render departments={@event.departments} event_id={@event.id} />
  <% else %>
    <p>Bisher wurde noch keine Abteilung hinzugefügt.</p>
  <% end %>
</.card>

<.header level="2" class="mt-12">
  Gruppe
  <:actions>
    <.link navigate={~p"/events/#{@event}/groups/new"}>
      <.button>Gruppe hinzufügen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@event.groups) do %>
    <SportywebWeb.GroupLive.EventIndexTableComponent.render groups={@event.groups} event_id={@event.id} />
  <% else %>
    <p>Bisher wurden noch keine Gruppen hinzugefügt.</p>
  <% end %>
</.card>

<.header level="2" class="mt-12">
  Organisatoren 
  <:actions>
    <.link navigate={~p"/events/#{@event}/organizers/new"}>
      <.button>Organisator hinzufügen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@event.organizers) do %>
    <SportywebWeb.EventOrganizerLive.IndexTableComponent.render  organizers={@event.organizers} event_id={@event.id} />
  <% else %>
    <p>
      Die Veranstaltung hat noch keine Organisatoren.
    </p>
  <% end %>
</.card>

<.header level="2" class="mt-12">
  Teilnehmer
  <:actions>
    <.link navigate={~p"/events/#{@event}/participants/new"}>
      <.button>Teilnehmer hinzufügen</.button>
    </.link>
    <.link :if={@participants_count > 30} navigate={~p"/events/#{@event}/participants"}>
      <.button >Alle {@participants_count} Teilnehmer anzeigen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@participants_preview) do %>
    <SportywebWeb.ParticipantLive.IndexTableComponent.render  participants={@participants_preview} event_id={@event.id} />

    <p :if={@participants_count > 30} class="mt-12">
      Für die Übersichtlichkeit werden hier nur die ersten 30 Teilnehmer angezeigt.
      <div class="flex justify-end mt-4">
        <.link navigate={~p"/events/#{@event}/participants"}>
          <.button >Alle {@participants_count} Teilnehmer anzeigen</.button>
        </.link>
      </div>
    </p>
    
  <% else %>
    <p>
      Die Veranstaltung hat noch keine Teilnehmer.
    </p>
  <% end %>
</.card>

<.header level="2" class="mt-12">
  Warteliste 
  <:actions>
    <.link navigate={~p"/events/#{@event}/waitinglist/new"}>
      <.button>Wartelisteteilnehmer hinzufügen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@event.waitinglist) do %>
    <SportywebWeb.EventWaitingListLive.IndexTableComponent.render  waitinglist={@event.waitinglist} event_id={@event.id} />
  <% else %>
    <p>
      Die Veranstaltung hat noch keine Warteliste.
    </p>
  <% end %>
</.card>